step-function/step.yaml
Comment: A description of my state machine
StartAt: Scan a single subdomain
States:
  Scan a single subdomain:
    Type: Choice
    Choices:
      - And:
          - Variable: $.subdomain
            StringGreaterThan: '1'
          - Or:
              - Variable: $.domain
                StringLessThan: '1'
              - Not:
                  Variable: $.domain
                  IsPresent: true
        Next: single-subdomain
    Default: subfinder
  single-subdomain:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    OutputPath: $.Payload
    Parameters:
      FunctionName: arn:aws:lambda:us-east-1:933490194069:function:vapt-condition:$LATEST
      Payload.$: $
    Retry:
      - ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
        IntervalSeconds: 2
        MaxAttempts: 6
        BackoffRate: 2
    Next: scantype for single subdomain
  scantype for single subdomain:
    Type: Choice
    Choices:
      - Variable: $.scantype
        StringEquals: lite
        Next: nuclei-single-lite
      - Variable: $.scantype
        StringEquals: intensive
        Next: nuclei-single-intensive
    Default: nuclei-single
  nuclei-single-lite:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    OutputPath: $.Payload
    Parameters:
      Payload.$: $
      FunctionName: >-
        arn:aws:lambda:us-east-1:933490194069:function:vapt-nuclei-single-lite:$LATEST
    Retry:
      - ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
        IntervalSeconds: 2
        MaxAttempts: 6
        BackoffRate: 2
    End: true
  nuclei-single:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    OutputPath: $.Payload
    Parameters:
      Payload.$: $
      FunctionName: >-
        arn:aws:lambda:us-east-1:933490194069:function:vapt-nuclei-single:$LATEST
    Retry:
      - ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
        IntervalSeconds: 2
        MaxAttempts: 6
        BackoffRate: 2
    End: true
  subfinder:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    OutputPath: $.Payload
    Parameters:
      FunctionName: arn:aws:lambda:us-east-1:933490194069:function:vapt-subfinder:$LATEST
      Payload.$: $
    Retry:
      - ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
        IntervalSeconds: 2
        MaxAttempts: 6
        BackoffRate: 2
    Next: Choice
  Choice:
    Type: Choice
    Choices:
      - Variable: $.networkscan
        StringEquals: 'yes'
        Next: Lambda Invoke
    Default: httpx
  Lambda Invoke:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    OutputPath: $.Payload
    Parameters:
      Payload.$: $
      FunctionName: arn:aws:lambda:us-east-1:933490194069:function:vapt-network:$LATEST
    Retry:
      - ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
        IntervalSeconds: 2
        MaxAttempts: 6
        BackoffRate: 2
    Next: nuclei-network
  nuclei-network:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    OutputPath: $.Payload
    Parameters:
      Payload.$: $
      FunctionName: >-
        arn:aws:lambda:us-east-1:933490194069:function:vapt-nuclei-single-intensive:$LATEST
    Retry:
      - ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
        IntervalSeconds: 2
        MaxAttempts: 6
        BackoffRate: 2
    End: true
  httpx:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    OutputPath: $.Payload
    Parameters:
      FunctionName: arn:aws:lambda:us-east-1:933490194069:function:vapt-httpx-2:$LATEST
      Payload.$: $
    Retry:
      - ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
        IntervalSeconds: 2
        MaxAttempts: 6
        BackoffRate: 2
    Next: scantype for multiple subdomains
  scantype for multiple subdomains:
    Type: Choice
    Choices:
      - Variable: $.scantype
        StringEquals: lite
        Next: nuclei-lite
      - Variable: $.scantype
        StringEquals: intensive
        Next: nuclei-intensive
    Default: nuclei
  nuclei-lite:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    OutputPath: $.Payload
    Parameters:
      Payload.$: $
      FunctionName: arn:aws:lambda:us-east-1:933490194069:function:vapt-nuclei-lite:$LATEST
    Retry:
      - ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
        IntervalSeconds: 2
        MaxAttempts: 6
        BackoffRate: 2
    End: true
  nuclei:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    OutputPath: $.Payload
    Parameters:
      FunctionName: arn:aws:lambda:us-east-1:933490194069:function:vapt-nuclei:$LATEST
      Payload.$: $
    Retry:
      - ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
        IntervalSeconds: 2
        MaxAttempts: 6
        BackoffRate: 2
    End: true
  nuclei-single-intensive:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    OutputPath: $.Payload
    Parameters:
      Payload.$: $
      FunctionName: >-
        arn:aws:lambda:us-east-1:933490194069:function:vapt-nuclei-single-intensive:$LATEST
    Retry:
      - ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
        IntervalSeconds: 2
        MaxAttempts: 6
        BackoffRate: 2
    End: true
  nuclei-intensive:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    OutputPath: $.Payload
    Parameters:
      Payload.$: $
      FunctionName: >-
        arn:aws:lambda:us-east-1:933490194069:function:vapt-nuclei-intensive:$LATEST
    Retry:
      - ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
        IntervalSeconds: 2
        MaxAttempts: 6
        BackoffRate: 2
    End: true
